@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;

  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
body {
  width: 100%;
}

/* header-Start */
/*here we use flex display for the header section*/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
/*for alligning the header sections in one line*/
#Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*for removing the bullet points style of list*/
#Navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative; /*for underline on hover effect we have to give parent relative position*/
}
/* Now for removing the underline from nav sections and also changing the size and weight of font*/
#Navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease; /*for smooth hover color change*/
}
/* Now whenever the cursor goes to nav links it should change color of hover */
#Navbar li a:hover,
#Navbar li a.active {
  /*active is used for underline*/
  color: #088178;
}
#Navbar li a.active::after,      /* ::after is used to target pseudoelement after a.active*/
#Navbar li a:hover::after {     /*this is for underline for every elemt of nav*/
  
  /*this code is for creating underline*/
  content: "";
  width: 40%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px; /*this adds underline slightly below the text*/
  left: 20px;
}
/*Homepage*/
#hero{
  background-image: url(img/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex; /*this is done to bring the text at center*/
  flex-direction: column; /*as the text is already in horizontal so we set it column wise*/ 
  align-items: flex-start;
  justify-content: center;
}
#hero h4{
  padding-bottom: 15px;
}
#hero h1{
  color: #088178;
}
#hero button{
  background-image: url(img/button.png);
  background-color: transparent;    /*you'll be able to see any underlying content behind the button.*/
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no repeat; /*This line ensures that the background image won't repeat itself. It will be displayed only once within the button.*/
  cursor: pointer; /*This indicates to users that the button is clickable.*/
  font-weight: 700;
  font-size: 15px;
  

}